body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headForum{
    background-color: lightblue;
    height: 100px;
}

.theme{
    height: 88.921px;
    background-color: #bbb;
    border: black solid 2px;

}

#content_header{
    background-color: blue;
    border: black solid 2px;

}

.discussion{
    background-color: pink;
    border: black solid 2px;
}

.message{
    background-color: orange;
    border: black solid 2px;
    height: 50px;
    display: flex;
}

.message-avatar{
    background-color: red;
    border: black solid 2px;
    margin: 0.5rem;
}

.message-text{
    background-color: yellow;
    border: black solid 2px;
    margin: 0.5rem;
}

.flexbox-container {
    display: flex;
}

#themes-container{
    width: 16%;
}
#content-container{
    width: 84%;
}
